body { background: #1b56d1; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 24px; display: flex; }
.block-search-0 { color: #527857; font-size: 17px; margin-bottom: 5px; }
.block-validator-1 { color: #aa7977; font-size: 14px; margin-bottom: 5px; }
.block-product-2 { color: #10d4d2; font-size: 13px; margin-bottom: 5px; }
.block-validator-3 { color: #a614df; font-size: 13px; margin-bottom: 5px; }
.block-helper-4 { color: #6c353d; font-size: 19px; margin-bottom: 5px; }
.block-email-5 { color: #51716e; font-size: 20px; margin-bottom: 5px; }
.block-cluster-6 { color: #c99cdc; font-size: 13px; margin-bottom: 5px; }
.block-logger-7 { color: #c4a6f2; font-size: 12px; margin-bottom: 5px; }
.block-search-8 { color: #ec5a27; font-size: 14px; margin-bottom: 5px; }
.block-uploader-9 { color: #97bea; font-size: 12px; margin-bottom: 5px; }
.block-validator-10 { color: #bb3d99; font-size: 17px; margin-bottom: 5px; }